
        body {
            font-family: Arial, sans-serif;
            margin: auto;
           
        }
 
      
 .container{
            width: 550px;
            margin: auto;
            background-color: gainsboro;
            border: 1px solid gray;
            padding: 2%;
            border-radius: 1%;
        }

        h1{
            text-align: center;
        }


        #inputText {
            width: 100%;
            max-width: 380px;
            padding: 1%;
            margin-bottom: 10px;
        }


      button {
            padding: 1% 2%;
            font-size: 16px;
        }


        #loading {
            display: none;
            font-size: 14px;
            color: blue;
        }
    
   
   #error {
            color: red;
        }
  

