
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
            /* background-color: gainsboro; */
        }
 
      
 .container{
            width: 600px;
            margin: auto;
            background-color: gainsboro;
            border: 1px solid gray;
            padding: 2%;
            border-radius: 1%;
        }

        h1{
            text-align: center;
        }
